@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Regular.woff2') format('woff2'),
        url('Spectral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans7pt-Regular.woff2') format('woff2'),
        url('NunitoSans7pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans10pt-Bold.woff2') format('woff2'),
        url('NunitoSans10pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


:root {
    font-size: 1em;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 2em;
    max-width: 50em;
    margin: auto;
}

header {
    margin: min(5vw, 4em) 0;
}

h1, h2 {
    line-height: 1.2;
    font: inherit;
    color: inherit;
}

h1 {
    font-family: 'Spectral';
    font-size: clamp(1.2em, 8vw, 250%);
    line-height: 1.2;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    line-height: 1.2;
    margin: 2em 0 1em;
}

footer {
    margin-top: 3em;
    padding: 2em;
    border: 0.1em solid #d3d3d3;
    background: #fcfcfc;
    border-radius: 1em;
}

.highlight {
    font-weight: bold;
}

.cta {
    margin-top: 2em;
    font-size: 1.2em;
}
